<div class="card mt-2">
  <div class="card-header">
    Detalhes da ordem
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Cliente: <h5>Clara</h5>
      </li>
      <li class="list-group-item">
        Busto: <h5>180.00</h5>
      </li>
      <li class="list-group-item">
        Cintura: <h5>160.00</h5>
      </li>
      <li class="list-group-item">
        Quadril: <h5>180.00</h5>
      </li>
      <li class="list-group-item">
        Data abertura: <h5>21/02/2021</h5>
      </li>
      <li class="list-group-item">
        Data encerramento: <h5> - </h5>
      </li>
      <li class="list-group-item">
        Status: <h5>ABERTA</h5>
      </li>
    </ul>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-warning m-1 btn-sm" (click)="onGoToEditar()">Editar</button>
    <button class="btn btn-danger m-1 btn-sm" (click)="onGoToFinalizar()">Finalizar</button>
  </div>
</div>
<button class="btn btn-secondary mb-4 mt-2" (click)="onGoBackToLista()" >Retornar</button>

